.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  height: 100%;
  background-color: white;

  border-radius: 8px;
  &-header {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    padding: 16px;
  }

  &-body {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;

    &-left,
    &-right {
      width: 50%;
      padding: 16px;
    }
    &-left {
      overflow: auto;
    }
    &-right {
      .carousel-root {
        height: 100%;
        overflow: auto;
        .slide {
          display: flex;
          justify-content: center;
          align-items: center;
          .custom-dev {
            width: unset;
          }
          img {
            max-height: 550px !important;
            border: 1px solid #5abb3a;
            border-radius: 8px;
          }
        }
        .thumbs-wrapper {
          margin: 46px 20px 0 20px;
          .thumb.selected,
          .thumb:hover {
            border: 1px solid #5abb3a;
            border-radius: 8px;
          }
          ul {
            display: flex;
            transform: none !important;
          }
          .thumb {
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: unset;
              height: 100%;
            }
          }
        }
        .control-dots {
          .dot {
            background-color: #5abb3a;
          }
        }
      }
      .hello-visitor {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
        img {
          margin-top: 24px;
          margin-bottom: 24px;
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}
.profolio-modal {
  width: unset !important;
  img {
    max-height: 800px;
  }
  button {
    border: none;
    outline: none !important;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}
