.input-address-wrapper {
  .input-address-main:focus {
    border-color: $blue-5;
    border-right-width: $size-1 !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  .disaled-input {
  }
  .input-address-main {
    width: 100%;
    height: $size-32;
    background: $gray-1;
    border: $size-1 solid $gray-5;
    box-sizing: border-box;
    border-radius: $size-2;
    outline: none !important;
    padding: 0 $size-12;
  }
  .input-address-main::-webkit-input-placeholder {
    color: $gray-6;
  }
  .search-auto-icon {
    position: absolute;
    top: $size-4;
    right: $size-11;
    font-size: $size-12;
    color: rgba(0, 0, 0, 0.25);
  }
}
